
<div ng-controller="RegisterCtrl" class="container head-padding">
    <div class="row form-title">
      <div class="col-lg-12 text-center">
          <h2>Sign Up</h2>
          <hr class="star-light">
      </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="account-wall">
                <div id="my-tab-content" class="tab-content">
            <div class="tab-pane active" id="login">
                      <img class="profile-img" src="http://s11.postimg.org/7kzgji28v/logo_sm_2_mr_1.png"
                    alt="">
                    <form class="form-signin" action="" method="">
                      <input ng-model="user.email" type="text" class="form-control" placeholder="Your email address (*)" required>
                      <input ng-model="user.password" type="password" class="form-control" placeholder="Your password (*)" required>
                      <input ng-model="user.password_confirm" type="password" class="form-control" placeholder="Your password again (*)" required>
                      <input type="submit" ng-click="SignUp($event)" class="btn btn-md btn-default btn-block" value="Sign Up" />
                    </form>
                    <div id="tabs" data-tabs="tabs">
                      <p class="text-center">Have an account? <a href="#/login" data-toggle="tab"> Log In</a></p>
                    </div>
            </div>            
          </div>
        </div>
    </div>
</div>