
<div ng-controller="InvoiceCtrl" class="container">
	<div class="row">
        <div class="col-sm-12">
            <legend>Mr. Someone:</legend>
        </div>
        <!-- panel preview -->
        <div class="col-sm-5">
            <h4>Add payment:</h4>
            <div class="panel panel-default">
                <div class="panel-body form-horizontal payment-form">
                    <div class="form-group">
                        <label for="concept" class="col-sm-3 control-label">Company Name</label>
                        <div class="col-sm-9">
                            <input ng-model="editableInvoice.company_name" type="text" class="form-control" id="company_name" name="company_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-3 control-label">Company Logo</label>
                        <div class="col-sm-9">
                            <input ng-model="editableInvoice.company_logo" type="text" class="form-control" id="company_logo" name="company_logo">
                        </div>
                    </div> 
                    <div class="form-group">
                        <label for="amount" class="col-sm-3 control-label">Company Address</label>
                        <div class="col-sm-9">
                            <input ng-model="editableInvoice.company_address" type="textarea" class="form-control" id="company_address" name="company_address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="amount" class="col-sm-3 control-label">Customer Name</label>
                        <div class="col-sm-9">
                            <input ng-model="editableInvoice.customer_name" type="text" class="form-control" id="customer_name" name="customer_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="date" class="col-sm-3 control-label">Customer Address</label>
                        <div class="col-sm-9">
                            <input ng-model="editableInvoice.customer_address" type="textarea" class="form-control" id="customer_address" name="customer_address">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 text-right">
                            <button ng-click="EditInvoice($event)" type="button" class="btn btn-default preview-add-button">
                                <span class="glyphicon glyphicon-plus"></span> Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>            
        </div> 
	</div>
</div>