
<div ng-controller="InvoiceCtrl" class="container invoice-list">
    <div class="menu-items">
        <div class="row">
            
            <div class="row form-title-menu">
                <div class="col-lg-12 text-center">
                    <a ng-show="fullList" href="#/invoice/new"><button  class="btn btn-default orange-circle-button" href="">New<br />Invoice<br /><span class="orange-circle-greater-than"></span></button></a>
                    <h2>Invoices</h2>
                    <hr class="star-light">
                </div>
            </div>
        </div>
    </div>  
    <div class="container">
        <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-6 col-sm-offset-6 col-md-offset-6" ng-show="fullList" style="margin-bottom: 20px;">
            <input ng-model="searchText" class="form-control" placeholder="Search...">
        </div>
        <br/>
        <div id="spin"></div>
        <div ng-show="fullList" class="well col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">            
            <div ng-repeat="invoice in invoicesList | filter:searchText">
                <div class="row user-row">
                <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
                    
                </div>
                <div class="col-xs-8 col-sm-9 col-md-10 col-lg-10">
                    <strong>{{ invoice.to_company_name }}</strong><br>
                    <span class="text-muted">Date issued: {{ invoice.date_issued }}</span>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 dropdown-user">
                    <i class="fa fa-circle-o-notch" ng-click="selectedItemList != $index ? selectedItemList = $index : selectedItemList = -1"></i>
                </div>
                </div>
                <div class="row" ng-class="selectedItemList == $index ? 'display-block' : 'display-none'" >
                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
                    <div class="panel panel-primary">
                        
                        <div class="panel-body">
                            <div class="row">
                                
                                <div class=" col-md-12 col-lg-12">
                                    <table class="table table-user-information">
                                        <tbody>
                                        <tr>
                                            <td>Address:</td>
                                            <td>{{ invoice.to_company_address }}</td>
                                        </tr>
                                        <tr>
                                            <td>Payment due:</td>
                                            <td>{{ invoice.payment_due }}</td>
                                        </tr>
                                        <tr>
                                            <td>Total:</td>
                                            <td>{{calculateTotal(invoice)}}</td>
                                        </tr>
                                        <tr>
                                            <td>Comments:</td>
                                            <td>{{invoice.comments}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            
                            <span >
                                <a href="#/invoice/print/{{invoice.id}}">
                                    <button class="btn btn-md btn-info" type="button"><i class="fa fa-print"></i></button>
                                </a>
                            </span>
                            <span >
                                <a href="#/invoice/edit/{{invoice.id}}">
                                    <button class="btn btn-md btn-warning" type="button"><i class="fa fa-pencil"></i></button>
                                </a>
                            </span>
                            <span >
                                <button class="btn btn-md btn-danger" type="button" ng-click="DeleteInvoice($event, invoice.id)" ><i class="fa fa-trash"></i></button>
                            </span>
                        </div>
                    </div>
                    </div>
                </div>
                <hr class="invoices-list-hr">
            </div>        
        </div>
        <div ng-show="emptyList" class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 invoice-list-empty">
            <h3>Nothing here yet!</h3>
            <h5>Create your first invoice</h5>
            <a href="#/invoice/new"><button  class="btn btn-default orange-circle-button" href="">New<br />Invoice<br /><span class="orange-circle-greater-than"></span></button></a>
        </div>
        
    </div>
</div>